#contato {
	width: 100%;
	background: url("../img/bg-praia-ponte.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.container-contato {
		display: flex;
		width: 100%;
		max-width: 600px;
		flex-direction: column;
		margin: 60px auto;
		background-color: rgba(255, 255, 255, 0.85);
		border-bottom: solid 1px;
		padding: 40px 25px;
		border-radius: 12px;

		.titulo {
			text-align: center;
			font-weight: bold;
		}
		.sub-titulo {
			text-align: center;
			margin-bottom: 20px;
		}
		.formulario-contato {
			display: flex;
			flex-direction: column;
			align-items: center;

			label,
			input,
			textarea {
				width: 100%;
			}

			input {
				height: 35px;
			}

			.contained-button {
				margin-top: 20px;
				padding: 18px;
				width: 100%;
				font-size: 1.125rem;
			}
		}
	}

	@media only screen and (max-width: 600px) {
		justify-content: flex-start;
		.container-contato {
			margin: 0;
			width: 100%;
			.sub-titulo h2 {
				font-size: 1rem;
			}
		}
	}
}
