footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #eff1fe;
	border: 1px solid #cdd3fd;

	.footer-content {
		padding: 50px;
		color: #22103f;
		display: flex;
		flex-direction: column;
		line-height: 1.5;

		p {
			line-height: 2.5;
		}

		a:hover {
			transition: color 0.2s;
			color: #f6ab4a;
		}

		.social-container {
			display: flex;
			justify-content: center;
			margin-top: 20px;
			font-size: 2rem;
			a {
				margin-right: 10px;
			}
		}

		@media only screen and (max-width: 968px) {
			width: 100%;
			padding: 50px 30px;
		}
	}

	.copyright-container {
		width: 100%;
		padding: 30px 0;
		display: flex;
		justify-content: center;
		font-weight: 500;
		border: 1px solid #cdd3fd;
		color: #727ff9;
		background-color: #fff;
	}
}
