.header {
	display: flex;
	justify-content: center;
	box-shadow: var(--shadow-1);
	
	.header-content {
		padding: 15px 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	@media only screen and (max-width: 968px) {
		.header-content {
			padding: 15px;
		}
	}

	.logo {
		display: flex;
		align-items: center;

		img {
			margin-right: 15px;
			width: 48px;
		}

		h3 {
			font-weight: 500;
			color: var(--text-yellow);
		}
		
	}

	.dropdown-menu {
		button {
			display: none;
			background-color: transparent;
			width: 30px;
			height: 30px;
			font-size: 2rem;
		}

		.menu-content {
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;

				li a {
					padding: 15px;
					width: 100%;
					text-align: center;
					color: var(--text-color);
					font-size: 1rem;
					transition: background-color 0.1s ease;

					&:hover {
						background-color: var(--background-calm);
					}

					&:active {
						background-color: #fafafa;
					}
				}
			}
		}

		@media only screen and (max-width: 968px) {
			position: relative;
			display: inline-block;

			button {
				display: inline-block;
			}

			.menu-content {
				display: none;
				opacity: 0;
				position: absolute;
				min-width: 160px;
				box-shadow: var(--shadow-1);
				right: 0;
				background-color: var(--background-color);
				transition: opacity 0.2s ease-in-out;

				ul {
					display: flex;
					flex-direction: column;

					li {
						width: 100%;
						display: flex;
						justify-content: center;
					}
				}
			}

			&:hover .menu-content {
				opacity: 100%;
				display: block;
			}
		}
	}
}
