.wrapper {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	.container-quarto {
		display: flex;
		justify-content: space-between;
		padding: 35px 0;
		flex-basis: 20%;

		&:not(:last-child) {
			border-bottom: 1px solid #e6e6e6;
		}

		.quarto-image {
			display: flex;
			align-items: center;
			flex-basis: 30%;
			width: 220px;
			transition: all 0.3s;

			&:hover {
				transform: scale(1.1);
			}

			@media only screen and (max-width: 600px) {
				width: 100%;
			}
		}

		.quarto-info {
			display: flex;
			flex-direction: column;
			padding-left: 15px;
			flex-basis: 55%;
			h3 {
				margin-bottom: 14px;
			}

			@media only screen and (max-width: 600px) {
				padding: 15px 0;
			}
		}
		.quarto-preco {
			flex-basis: 20%;
			text-align: center;
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.promo {
				text-decoration: line-through;
			}
			.novo-valor {
				color: red;
			}
			p :nth-child(n + 1) {
				font-size: 2rem;
			}
		}
		@media only screen and (max-width: 600px) {
			flex-direction: column;
			flex-basis: 100%;
			margin: 0;
		}
	}
}
