@media (max-width: 968px){
    #galeria{
        width: 80%;
        margin: 0 auto;
    .container-galeria{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
         .fotos{
            padding: 10px;
            }
        }
    }


    #quartos{
        width: 80%;
        .container-quarto{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

        }
    }
}

@media (max-width: 1260px){
    #galeria{
     .container-galeria{
        grid-template-columns: 1fr;
        }
    }

    #quartos{
        .container-quarto{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

        }
    }
}

@media (max-width:968px){
        #contato{
            .container-contato{
                width: 100%;
                padding: 20px;
                .itens-contato{
                    width: 100%;
                }
            }
        }
}

@media (max-width:1260px){
        #contato{
            justify-content: flex-start;
            height: 96vh;
        .container-contato{
            margin: 0;
            width: 100%;
            .sub-title{
                h2{
                    font-size: 1.0rem;
                }
            }
            }
        }
    }
    

