#quartos {
	margin: 30px auto;
	width: 65%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	

	.title {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}

	.container-quarto {
		display: flex;
		justify-content: space-between;
		margin: 50px 0;
		padding-bottom: 15px;
		border-bottom: solid 1px;
		flex-basis: 20%;

		.quarto-image {
			flex-basis: 30%;
		}

		.zoom{
			overflow: hidden;
		}

		.zoom img{
			width: 100%;
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}

		.zoom:hover img{
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		img {
			width: 100%;
		}
		

		.quarto-info {
			display: flex;
			flex-direction: column;
			padding: 15px;
			flex-basis: 55%;
			h3{
				margin-bottom: 14px;
			}
		}
		.quarto-preco {
			flex-basis: 20%;
			text-align: center;
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.promo {
				text-decoration: line-through;
			}
			.novo-valor {
				color: red;
			}
			.comprar {
				margin-top: 4px;
				padding: 20px;
				background-color: rgba(201, 135, 29, 0.979);
				border-radius: 8px;
			}
			.comprar:hover{
				background-color: hsla(37, 75%, 45%, 0.753);
			}
			p :nth-child(n + 1) {
				font-size: 2rem;
			}
		}
	}
}


#galeria{
	margin: 30px auto;
	width: 65%;

	.title {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	.suite{
		margin: 0;
		border-bottom: 1px solid;
		padding-bottom: 3px;
		padding-right: 12px;
		display: inline-block;
		margin-bottom: 10px;
	}
	.container-galeria{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: 35px;
		.fotos{
			position: relative;
			padding: 20px;
			overflow: hidden;

			img{
			width: 100%;
			-moz-transition: all 0.5s;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
			}
		}

		.fotos:hover img{
			-moz-transform: scale(1.2);
 			-webkit-transform: scale(1.2);
 			transform: scale(1.2);
			}
	}
}